# Caches
.pytest_cache/
.import_linter_cache/
__pycache__/

# CI manifests
.github/

# Spec files
.bandit
.importlinter
.gitignore

# Directories & files not needed for main image
tests/
docs/
README.md


# IDE artifacts
.idea/
.vscode/