[importlinter]
root_packages =
    cms
    metrics
    tests
include_external_packages=True

[importlinter:contract:Modular monolith]
name=Metrics and CMS do not depend on each other, except via the designated interface and connection of URLs.
type=independence
modules=
    metrics
    cms
ignore_imports=
    cms.metrics_interface.interface -> metrics.data.models.core_models
    cms.metrics_interface.interface -> metrics.interfaces.charts.access
    cms.metrics_interface.interface -> metrics.domain.charts.line_multi_coloured.properties
    cms.metrics_interface.interface -> metrics.domain.charts.colour_scheme
    metrics.api.urls_construction -> cms.dashboard.viewsets

[importlinter:contract:Metrics architectural layers]
name = Metrics package enforces clear architectural layers within itself
type = layers
layers=
    metrics.api
    metrics.domain
    metrics.data

[importlinter:contract:Metrics data access | operations slices]
name = Metrics data access and operations slices are independent of each other
type=independence
modules=
    metrics.data.operations
    metrics.data.access

#----------------------------------------- Public API contracts -------------------------------------------

[importlinter:contract:Public API only depends on the APITimeSeries model]
name = The Public API only depends on the `APITimeSeries` model & corresponding components via the designated interface
type = forbidden
source_modules=
    metrics.public_api
forbidden_modules=
    metrics.api
    metrics.data
    metrics.domain
    metrics.interfaces
    cms
ignore_imports=
    metrics.public_api.metrics_interface.interface -> metrics.data.models.api_models

[importlinter:contract:Public API is only used for wiring of URLs]
name = The Public API module is only imported for the wiring of URLs
type = forbidden
source_modules=
    metrics.api
    metrics.data
    metrics.domain
    metrics.interfaces
    cms
forbidden_modules=
    metrics.public_api
ignore_imports=
    metrics.api.urls_construction -> metrics.public_api.urls

#------------------------------------- Metrics Domain library contracts -------------------------------------

[importlinter:contract:Metrics isolated charts library]
name = Metrics charts library does not depend on the rest of the codebase
type = forbidden
source_modules=
    metrics.domain.charts
forbidden_modules=
    metrics.api
    metrics.data
    metrics.interfaces
    cms

[importlinter:contract:Metrics isolated trends library]
name = Metrics trends library does not depend on the rest of the codebase
type = forbidden
source_modules=
    metrics.domain.trends
forbidden_modules=
    metrics.api
    metrics.data
    metrics.interfaces
    cms

#------------------------------------- Source/Test code contracts -------------------------------------------

[importlinter:contract:Source code | test code]
name = Source code does not depend on test code
type = forbidden
source_modules=
    metrics
    cms
forbidden_modules=
    tests
