[importlinter]
root_packages =
    cms
    metrics
    public_api
    feedback
    ingestion
    tests
include_external_packages=True

[importlinter:contract:Modular monolith]
name=Metrics and CMS do not depend on each other, except via the designated interface and connection of URLs.
type=independence
modules=
    metrics
    cms
ignore_imports=
    cms.metrics_interface.interface -> metrics.data.models.core_models
    cms.metrics_interface.interface -> metrics.domain.utils
    cms.metrics_interface.interface -> metrics.domain.charts.line_multi_coloured.properties
    cms.metrics_interface.interface -> metrics.domain.charts.colour_scheme
    metrics.api.urls_construction -> cms.dashboard.viewsets

[importlinter:contract:Metrics architectural layers]
name = Metrics package enforces clear architectural layers within itself
type = layers
layers=
    metrics.api
    metrics.domain
    metrics.data

[importlinter:contract:Metrics data access | operations slices]
name = Metrics data access and operations slices are independent of each other
type=independence
modules=
    metrics.data.operations
    metrics.data.access

#----------------------------------------- Public API contracts -------------------------------------------

[importlinter:contract:Public API only depends on the APITimeSeries model]
name = The Public API only depends on the `APITimeSeries` model & corresponding components via the designated interface
type = forbidden
source_modules=
    public_api
forbidden_modules=
    metrics.api
    metrics.data
    metrics.domain
    metrics.interfaces
    cms
    ingestion
    feedback
ignore_imports=
    public_api.metrics_interface.interface -> metrics.data.models.api_models

[importlinter:contract:Public API is only used for wiring of URLs]
name = The Public API module is only imported for the wiring of URLs
type = forbidden
source_modules=
    metrics.api
    metrics.data
    metrics.domain
    metrics.interfaces
    cms
    ingestion
    feedback
forbidden_modules=
    metrics.public_api
ignore_imports=
    metrics.api.urls_construction -> public_api

#----------------------------------------- Ingestion contracts -------------------------------------------

[importlinter:contract:Ingestion only depends on the core models]
name = The Ingestion module only depends on the core models & associated components via the designated interface
type = forbidden
source_modules=
    ingestion
forbidden_modules=
    metrics.api
    metrics.data
    metrics.domain
    metrics.interfaces
    cms
    public_api
ignore_imports=
    ingestion.metrics_interfaces.interface -> metrics.data.models.core_models
    ingestion.metrics_interfaces.interface -> metrics.data.operations.ingestion
    ingestion.metrics_interfaces.interface -> metrics.data.enums

#------------------------------------- Metrics Domain library contracts -------------------------------------

[importlinter:contract:Metrics isolated charts library]
name = Metrics charts library does not depend on the rest of the codebase
type = forbidden
source_modules=
    metrics.domain.charts
forbidden_modules=
    metrics.api
    metrics.data
    metrics.interfaces
    cms
    ingestion
    feedback

[importlinter:contract:Metrics isolated trends library]
name = Metrics trends library does not depend on the rest of the codebase
type = forbidden
source_modules=
    metrics.domain.trends
forbidden_modules=
    metrics.api
    metrics.data
    metrics.interfaces
    cms
    ingestion
    feedback


#------------------------------------- Feedback module contracts -------------------------------------------

[importlinter:contract:Feedback module does not use the rest of the codebase]
name = Feedback module does not depend on the rest of the codebase
type = forbidden
source_modules=
    feedback
forbidden_modules=
    cms
    metrics
    public_api

[importlinter:contract:Feedback module not used by codebase]
name = The rest of the codebase does not depend on the feedback module except for the connection of URLs
type = forbidden
source_modules=
    cms
    metrics
    public_api
forbidden_modules=
    feedback
ignore_imports=
    metrics.api.urls_construction -> feedback.views

#------------------------------------- Source/Test code contracts -------------------------------------------

[importlinter:contract:Source code | test code]
name = Source code does not depend on test code
type = forbidden
source_modules=
    metrics
    cms
    ingestion
    feedback
forbidden_modules=
    tests
