[master]
ignore=migrations, venv, docs, tests
load-plugins=pylint_django
django-settings-module=metrics.api.settings

[MESSAGES CONTROL]
disable=
    no-name-in-module,
    line-too-long,
    missing-module-docstring,
    missing-class-docstring,
