bandit==1.8.3
black==25.1.0
coverage==7.6.12
cyclonedx-python-lib==8.9.0
django-factory-boy==1.0.0
factory-boy==3.3.3
Faker==36.1.1
gitdb==4.0.12
GitPython==3.1.44
import-linter==2.2
isort==6.0.1
pip-api==0.0.34
pip_audit==2.8.0
pip-requirements-parser==32.0.1
pre-commit==4.1.0
pylint==3.3.4
pylint-django==2.6.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.10.0
pytest-random-order==1.1.1
ruff==0.9.8
stevedore==5.4.1
