bandit==1.8.6
black==25.9.0
coverage==7.10.7
cyclonedx-python-lib==8.9.0
django-factory-boy==1.0.0
factory-boy==3.3.3
freezegun==1.5.5
Faker==37.11.0
gitdb==4.0.12
GitPython==3.1.45
import-linter==2.5.2
isort==7.0.0
pip-api==0.0.34
pip_audit==2.9.0
pip-requirements-parser==32.0.1
pre-commit==4.3.0
pylint==3.3.9
pylint-django==2.6.1
pytest==8.4.2
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-random-order==1.2.0
ruff==0.14.0
stevedore==5.5.0
