bandit==1.7.5
black==23.10.0
coverage==7.3.2
django-factory-boy==1.0.0
factory-boy==3.3.0
Faker==19.11.0
gitdb==4.0.11
GitPython==3.1.40
import-linter==1.11.1
isort==5.12.0
pip_audit==2.6.1
pre-commit==3.5.0
pylint==3.0.2
pylint-django==2.5.5
pytest==7.4.3
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-random-order==1.1.0
ruff==0.1.3
