{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}


{% block style %}
{{ block.super }}
{# Apply Bootstrap style sheet #}
{% block bootstrap_theme %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"
    >
{% endblock %}
{# Insert the UKHSA favicon #}
<link rel="shortcut icon" type="image/png" href="/static/gov_uk_icon.png" />
{% endblock %}

{# Append the UKHSA title #}
{% block title %}{% if name %}{{ name }} – {% endif %}UKHSA Data Dashboard API{% endblock %}

{# Add custom stylings and branding applied to Navbar #}
{% block navbar %}
    <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}"
         role="navigation"
         aria-label="{% trans "navbar" %}"
         style="background-color: black;"
    >
        <div class="container">
            <img src="{% static 'gov_uk_logo.png' %}"
                 alt="Logo"
                 style="float: left; margin-top: 5px; max-height: 100px; max-width: 200px;"
            >
            <span>
              {% block branding %}
                <a class='navbar-brand navbar-center'
                   rel="nofollow"
                   style="float: left; text-align: center; width: 60%; color: white"
                >
                    UKHSA data dashboard
                </a>
                  <div class="branding"></div>
              {% endblock %}
            </span>

            {# Hide login link for public API endpoints #}
            {% if 'public' not in request.get_full_path %}
                <ul class="nav navbar-nav pull-right">
                    {% block userlinks %}
                        {% if user.is_authenticated %}
                            {% optional_logout request user %}
                        {% else %}
                            {% optional_login request %}
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endif %}
        </div>
    </div>
  {% endblock %}

{# Override breadcrumbs configuration so the href for current page not included#}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
            {% if forloop.last %}
                <li class="active"
                    style="color: #0b0c0c"
                >
                    {{ breadcrumb_name }}
                </li>
            {% else %}
                <li>
                    <a href="{{ breadcrumb_url }}"
                       style="color: #1d70b8"
                    >
                        {{ breadcrumb_name }}
                    </a>
                </li>
            {% endif %}
        {% empty %}
            {% block breadcrumbs_empty %}&nbsp;{% endblock breadcrumbs_empty %}
        {% endfor %}
    </ul>
{% endblock %}
