{% extends "rest_framework/api.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{# Remove login link in navbar #}
{% block userlinks %}
{% endblock %}

{# Remove breadcrumbs section at top of content area #}
{% block breadcrumbs %}
{% endblock %}

{% block title %}Page not found{% endblock %}

{% block content %}
    <h1>Page not found</h1>

    <p>If you typed the web address, check it is correct.</p>
    <p>If you pasted the web address, check you copied the entire address.</p>
    <p>
      <span>If the web address is correct or you selected a link or button, </span>
          <a href="https://www.gov.uk/government/collections/contacts-public-health-england-regions-local-centres-and-emergency">
            contact the UK Health Security Agency (UKHSA)
          </a>
      <span>if you need to speak to someone.</span>
    </p>
{% endblock %}
