{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-topicpage{% endblock %}

{% block content %}
    {% for block in page.body %}
        {% if block.block_type == 'richtext' %}
            {{ block.value|richtext }}
        {% elif block.block_type == 'image' %}
            <img src="{{ block.value.image.url }}" alt="{{ block.value.alt }}" />
        {% endif %}
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return to viruses</a></p>

{% endblock %}