<title>About</title>

<body>
    <h2 data-block-key="agj81">Respiratory viruses</h2>
    <p data-block-key="7o320">
        Respiratory viruses can infect any age group.
        Some people (including children and the elderly) are more likely to become seriously ill or have other
        complications
        because of respiratory viruses.
        In the UK many of these viruses are seasonal and tend to circulate at higher levels during the winter months.
    </p>
    <h2 data-block-key="akgd0">Viruses Test</h2>
    <p data-block-key="9fs8f">
        The respiratory viruses we are reporting on are:
    </p>
    <ul>
        <li data-block-key="5fit8">Influenza</li>
        <li data-block-key="a33sj">Respiratory syncytial viruses (RSV)</li>
        <li data-block-key="8c3qj">Coronavirus or COVID-19 (SARS-CoV-2)</li>
        <li data-block-key="cf5p7">Adenovirus</li>
        <li data-block-key="318mj">Parainfluenza</li>
        <li data-block-key="876bf">Rhinovirus</li>
        <li data-block-key="dnobg">Human parainfluenza viruses (hMPV)</li>
    </ul>
    <p data-block-key="bg17l">
        On each page we give an overview of the data available on the virus, along with an explanation of the virus and
        the
        illnesses they can cause.
    </p>
    <h2 data-block-key="99fhv">Cases</h2>
    <p data-block-key="4kdv5">
        A case is when someone is confirmed as having an illness through a positive test.
        We report on the case numbers for different respiratory viruses.
    </p>
    <p data-block-key="bq6fl">
        <br />
        For many of the respiratory viruses we report on, the data available on positive tests is only those which have
        been
        reported by healthcare providers (like GP surgeries and hospitals).
        It&#x27;s important when looking at case data to take this into consideration as it means not all cases will be
        show.
        For example, someone who becomes ill with the flu but doesn&#x27;t seek medical treatment would not be counted
        as a
        case.
    </p>
    <h2 data-block-key="6eno8">Hospitalisations</h2>
    <p data-block-key="d3obm">
        We report on the number of patients admitted to hospital with a type of virus.
        The hospitalisations data we report on is:
    </p>
    <ul>
        <li data-block-key="1nv7n">Respiratory emergency care admissions</li>
        <li data-block-key="gs5m">Influenza hospitalisations</li>
        <li data-block-key="f0ee8">RSV hospitalisations</li>
        <li data-block-key="1ev3v">COVID-19 hospitalisations</li>
    </ul>
    <h2 data-block-key="5irrd">Vaccines</h2>
    <p data-block-key="76cv7">
        We report on the number of vaccines given for:
    </p>
    <ul>
        <li data-block-key="5c8uk">COVID-19</li>
        <li data-block-key="9pr83">Influenza</li>
    </ul>
    <p data-block-key="as4e9">
        People offered a vaccine is different for each virus, depending on target groups recommended by healthcare
        professionals.
    </p>
    <h2 data-block-key="e6v0k">Deaths</h2>
    <p data-block-key="2chf0">
        We report on deaths related to COVID-19, including:
    </p>
    <ul>
        <li data-block-key="egif0">Deaths with 28 days of a positive COVID-19 test - deaths with COVID.</li>
        <li data-block-key="fe509">Deaths with COVID-19 on the death certificate - deaths from COVID.</li>
    </ul>
    <p data-block-key="2f5ef">
        We also report on the excess deaths caused by respiratory viruses.
    </p>

</body>