name: Pipeline

on: 
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

env:
  APIENV: "LOCAL"
  # With `LOCAL` set, a local sqlite db will be used
  AWS_REGION: "eu-west-2"

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:

  ###############################################################################
  # Secret Scan
  ###############################################################################

  secret-scan:
    name: Gitleaks Secret Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR head
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Install Gitleaks
        run: |
          VERSION=$(curl -s https://api.github.com/repos/gitleaks/gitleaks/releases/latest | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
          curl -sSL https://github.com/gitleaks/gitleaks/releases/download/v${VERSION}/gitleaks_${VERSION}_linux_x64.tar.gz -o gitleaks.tar.gz
          tar -xzf gitleaks.tar.gz
          sudo mv gitleaks /usr/local/bin/
          gitleaks version

      - name: Fetch base branch
        run: |
          git fetch origin ${{ github.event.pull_request.base.sha }}

      - name: Run Gitleaks
        run: |
          echo "Scanning commits from base -> PR head"
          gitleaks detect \
            --log-opts="${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}" \
            --exit-code 1 \
            --verbose

  ###############################################################################
  # Install dependencies & build packages
  ###############################################################################

  build:
    name: Build
    needs: [secret-scan]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

  ###############################################################################
  # Security checks
  ###############################################################################

  dependency-checks:
    name: Dependency checks
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Scan dependencies
        run: |
          source uhd.sh
          uhd security dependencies

  vulnerability-checks:
    name: Vulnerability checks
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Scan for vulnerabilities
        run: |
          source uhd.sh
          uhd security vulnerabilities

  ###############################################################################
  # Code quality checks
  ###############################################################################

  quality-checks:
    name: Linting
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Run linters
        run: |
          source uhd.sh
          uhd quality format-check

  ###############################################################################
  # Architectural constraints checks
  ###############################################################################

  architecture-checks:
    name: Architecture checks
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Check architectural constraints
        run: |
          source uhd.sh
          uhd quality architecture

  ###############################################################################
  # Unit tests
  ###############################################################################

  unit-tests:
    name: Unit tests
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Run unit tests
        run: |
          source uhd.sh
          uhd tests unit

  ###############################################################################
  # Integration tests
  ###############################################################################

  integration-tests:
    name: Integration tests
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Run integration tests
        run: |
          source uhd.sh
          uhd tests integration

  ###############################################################################
  # System tests
  ###############################################################################

  system-tests:
    name: System tests
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Run system tests
        run: |
          source uhd.sh
          uhd tests system

  ###############################################################################
  # Migration tests
  ###############################################################################

  migration-tests:
    name: Migration tests
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Run migration tests
        run: |
          source uhd.sh
          uhd tests migrations

  ###############################################################################
  # Test coverage
  ###############################################################################

  test-coverage:
    name: Test coverage
    needs: [ build ]
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-cache

      - name: Evaluate test coverage
        run: |
          source uhd.sh
          uhd tests coverage

  ###############################################################################
  # Build image
  ###############################################################################

  publish-main-image:
    name: Publish main image to central ECR
    needs: [
      quality-checks,
      unit-tests,
      integration-tests,
      system-tests,
      migration-tests,
      test-coverage,
      dependency-checks,
      vulnerability-checks,
      architecture-checks
    ]
    runs-on: ubuntu-22.04-arm
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build and publish docker image
        uses: ./.github/actions/publish-image
        with:
          ecr-repository: ukhsa-data-dashboard/back-end
          role-to-assume: ${{ secrets.AWS_TOOLS_ACCOUNT_ROLE }}
          image-tag: ${{ github.sha }}

  publish-ingestion-image:
    name: Publish ingestion image to central ECR
    needs: [
      quality-checks,
      unit-tests,
      integration-tests,
      system-tests,
      migration-tests,
      test-coverage,
      dependency-checks,
      vulnerability-checks,
      architecture-checks
    ]
    runs-on: ubuntu-22.04-arm
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build and publish docker image
        uses: ./.github/actions/publish-image
        with:
          ecr-repository: ukhsa-data-dashboard/ingestion
          role-to-assume: ${{ secrets.AWS_TOOLS_ACCOUNT_ROLE }}
          dockerfile: Dockerfile-ingestion
          image-tag: ${{ github.sha }}

  ###############################################################################
  # Deploy
  ###############################################################################

  trigger-deployments:
    name: Trigger deployments
    needs: [
      publish-main-image,
      publish-ingestion-image
    ]
    runs-on: ubuntu-22.04-arm
    if: ${{ github.ref == 'refs/heads/main' }}
    # Only deploy if the changes are being pushed to the `main` branch

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Generate ephemeral deployment token
        id: generate-deployment-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.DEPLOYMENT_TOKEN_FACTORY_APP_ID }}
          private-key: ${{ secrets.DEPLOYMENT_TOKEN_FACTORY_PRIVATE_KEY }}
          skip-token-revoke: false
          # Although this is the default, this is explicitly set so that
          # we know the token gets revoked after the job has finished
          repositories: "data-dashboard-infra"

      - uses: ./.github/actions/trigger-deployments
        with:
          token: ${{ steps.generate-deployment-token.outputs.token }}
